*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: rgb(62, 38, 95);
}
nav{
    background-color: rgb(27, 16, 47);
} */



body {
  font-family: "Segoe UI", sans-serif;
}

.navbar-brand {
  letter-spacing: 1px;
}

section h1 {
  font-size: 2.5rem;
}


.card-header h4 {
  letter-spacing: 0.5px;
}

textarea {
  resize: none;
}
