{% extends 'base.html' %}
{% block title %} Update {% endblock title %}
{% block body %} 
 
<div class="container ">
    <h1>Update  Todu</h1>
   <form action="/update/{{utodo.sno}}" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Todo Title</label>
    <input type="text" class="form-control" name="title" id="title" value="{{utodo.title}}">
    <div id="title" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Todo description</label>
    <input type="text" class="form-control"  name="desc" value="{{utodo.desc}}">
  </div>
 
  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>

 {% endblock body %} 